:root {
	--white: #f9f9f9;
	--black: #000000;
	--dark-blue: #14213d;
	--darker-blue: #141e33;
	--light-blue: #29354f;
	--orange: #fca311;
	--grey: #e5e5e5;
}
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
html {
	font-size: 62.5%;
	font-family: "Poppins", sans-serif;
	scroll-behavior: smooth;
}
img {
	max-width: 100%;
	max-height: 100%;
}
h1,
h2,
p,
i,
span {
	color: var(--dark-blue);
}
i {
	font-size: 2rem;
	cursor: pointer;
}
p {
	line-height: 3rem;
}
a {
	color: var(--white);
	text-decoration: none;
}

/*Navigation Styles*/
.container {
	max-width: 100%;
	margin: 0 auto;
	padding: 0 4rem;
	max-width: 145rem;
}
.navigation-bar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: auto;
	margin-top: 1rem;
	margin-bottom: 1rem;
}
.navigation-bar__logo h1 {
	font-size: 3rem;
}
.navigation-bar__logo span {
	color: var(--orange);
	font-size: 2rem;
	font-weight: 700;
}
.navigation-bar__search {
	display: flex;
	align-items: center;
	width: 40%;
}
.navigation-bar__input {
	background-color: var(--grey);
	width: 100%;
	height: 3rem;
	border-radius: 2rem;
	display: flex;
	align-items: center;
}
.navigation-bar__input input {
	border: none;
	outline: none;
	background-color: transparent;
	padding-left: 1rem;
	color: var(--dark-blue);
	height: 100%;
	width: 100%;
	font-size: 1.3rem;
}
.fa-search,
.fa-user,
.fa-shopping-cart {
	margin-left: 1rem;
}
::placeholder {
	color: var(--dark-blue);
}
@media screen and (max-width: 768px) {
	.navigation-bar {
		display: flex;
		flex-direction: column;
	}
	.navigation-bar__search {
		display: flex;
		align-items: center;
		width: 100%;
	}
}
/*Finish of Navigation Styles*/

/*Header Styles*/
.header {
	background-color: var(--grey);
}
.header__main-right-content {
	width: 100%;
	height: 100%;
	background-image: url(../img/header-img.jpg);
	background-position: bottom;
	background-size: cover;
	background-repeat: no-repeat;
}
.header__main-left-content__text {
	font-size: 1.6rem;
	font-weight: 300;
	text-align: justify;
	margin-bottom: 2rem;
	max-width: 800px;
}
.cta-button {
	border: none;
	background-color: var(--orange);
	width: 200px;
	height: 40px;
	border-radius: 20px;
	font-size: 1.5rem;
	font-weight: 700;
	color: var(--white);
	cursor: pointer;
	transition: all 0.3s;
}
.cta-button:hover {
	transform: scale(1.05);
	box-shadow: 0 0 40px -10px rgba(0, 0, 0, 0.25);
	transition: all 0.3s;
}
@media screen and (min-width: 768px) {
	.grid-container {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 80vh;
		align-items: center;
		gap: 3rem;
	}
	.header__main-left-content__title {
		font-size: 4rem;
		margin-bottom: 2rem;
	}
}
@media screen and (max-width: 768px) {
	.grid-container {
		padding: 4rem 0rem;
	}
	.header__main-left-content__title {
		font-size: 3rem;
		margin-bottom: 1rem;
	}
}
/*Finish of Header Styles*/

/*Products*/
.products {
	margin-top: 2rem;
	margin-bottom: 2rem;
}
.products h1 {
	font-size: 3rem;
}
.products h1::after {
	content: "";
	display: block;
	border-bottom: 1px solid var(--grey);
	width: 100%;
	margin-bottom: 1em;
}
.products__grid {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	grid-auto-rows: 370px;
	gap: 2.5rem;
	row-gap: 3.5rem;
	margin-bottom: 5rem;
}
.products__grid .products__grid-cards {
	height: 100%;
	background-color: rgb(248, 247, 247);
	border-radius: 20px;
	box-shadow: -3px -2px 10px 6px rgba(248, 248, 248, 0.69);
	-webkit-box-shadow: -3px -2px 10px 6px rgba(248, 248, 248, 0.69);
	-moz-box-shadow: -3px -2px 10px 6px rgba(248, 248, 248, 0.69);
	transition: all 0.3s;
}
.products__grid-cards:hover {
	transform: scale(1.05);
	box-shadow: 0 0 40px -10px rgba(0, 0, 0, 0.25);
	transition: all 0.3s;
}
.products__flex-card__image {
	width: 100%;
	height: 60%;
	border-radius: 20px 20px 0px 0px;
	position: relative;
}
.products__flex-card__image img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 2rem 2rem 0 0;
}
.products__flex__flex-stars {
	position: absolute;
	padding: 1rem 0 0 1rem;
}
.products__flex__flex-stars i {
	color: var(--white);
	font-size: 1.6rem;
}
.product__flex-card__name {
	font-size: 2rem;
	font-weight: 700;
	padding: 1rem 2rem;
}
.product__flex-card__price {
	display: flex;
	padding-left: 2rem;
	gap: 1rem;
	align-items: flex-end;
	font-weight: 500;
}
.product__flex-card__price .new-price {
	font-size: 1.8rem;
}
.product__flex-card__price span {
	color: var(--orange);
}
.product__flex-card__price .old-price {
	font-size: 1.4rem;
	text-decoration-line: line-through;
}
.cta-comprar,
.cta-carrito {
	width: 130px;
	height: 35px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 20px;
	font-size: 1.5rem;
	font-weight: 700;
	border: none;
}
.cta-comprar p,
.cta-comprar i {
	color: white;
}
.cta-comprar {
	background-color: var(--orange);
}
.cta-carrito {
	background-color: var(--grey);
}
.cta-comprar i,
.cta-carrito i {
	font-size: 1.6rem;
	padding-right: 0.5rem;
	padding-left: 0.5rem;
}
.cta-comprar:hover,
.cta-carrito:hover {
	cursor: pointer;
}
.product__flex-card__flex-buttons {
	display: flex;
	gap: 1rem;
	padding: 1rem 2rem;
}
/*Finish of Products*/

/*Categories*/
.category-title {
	font-size: 3rem;
}
.category-title::after {
	content: "";
	display: block;
	border-bottom: 1px solid var(--grey);
	width: 100%;
	margin-bottom: 1em;
}
.category-grid__item {
	position: relative;
}
.image__overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	color: var(--white);
	display: flex;
	align-items: center;
	justify-content: center;
	opacity: 0;
	transition: opacity 0.25s;
}
.image__overlay > * {
	transform: translateY(20px);
	transition: transform 0.25s;
}
.image__overlay:hover {
	opacity: 1;
}
.image__overlay:hover > * {
	transform: translateY(0);
}
.image__title {
	font-size: 3.5rem;
	font-weight: bold;
	text-transform: uppercase;
}

@media (min-width: 640px) {
	.category-grid {
		width: 100%;
		display: grid;
		grid-template-columns: repeat(12, 1fr);
		grid-auto-rows: 450px;
		gap: 1rem;
	}
	.category-grid__item {
		transition: all 0.3s;
		cursor: pointer;
	}
	.category-grid__item:hover {
		opacity: 0.8;
		transition: all 0.3s;
	}
	.category-grid__item img {
		width: 100%;
		height: 100%;
		object-fit: cover;
		border-radius: 20px;
		cursor: pointer;
	}
	.category-grid__item:first-child {
		grid-row: 1 / 2;
		grid-column: 1 / 7;
	}
	.category-grid__item:nth-child(2) {
		grid-row: 1 / 2;
		grid-column: 7 / -1;
	}
	.category-grid__item:nth-child(3) {
		grid-row: 2 / 3;
		grid-column: 1 / 7;
	}
	.category-grid__item:nth-child(4) {
		grid-row: 2 / 3;
		grid-column: 7 / -1;
	}
	.category-grid__item:nth-child(5) {
		grid-column: 1 / 7;
		grid-row: 3 / 4;
	}
	.category-grid__item:nth-child(6) {
		grid-column: 7 / -1;
	}
}
@media screen and (max-width: 639px) {
	.category-grid {
		width: 100%;
		display: grid;
		grid-template-columns: repeat(1, 1fr);
		grid-auto-rows: 300px;
		gap: 2rem;
	}
	.category-grid__item img {
		width: 100%;
		height: 100%;
		object-fit: cover;
		border-radius: 20px;
		cursor: pointer;
	}
}

/*Finish of Categories*/

/*New Product*/
.new-product {
	margin: 5rem 0rem;
	width: 100%;
	height: auto;
	background-color: #8db2c5;
	padding: 2rem 0rem;
}
.new-product__grid {
	display: flex;
	align-items: center;
}
.new-product__grid-img {
	max-width: 90%;
	height: 300px;
	display: flex;
	align-items: flex-start;
}
.new-product__grid-img img {
	width: auto;
	height: auto;
}
.new-product__grid-text-1 {
	font-size: 3.5rem;
	color: var(--white);
	margin-bottom: 2rem;
	font-weight: 700;
}
.new-product__grid-text-2 {
	font-size: 1.6rem;
	color: var(--white);
	margin-bottom: 2rem;
}
@media screen and (max-width: 800px) {
	.new-product {
		height: auto;
		padding: 2rem 0rem;
	}
	.new-product__grid-img {
		display: none;
	}
	.new-product__grid {
		grid-template-columns: 1fr;
	}
	.new-product__grid-text-1 {
		font-size: 2.5rem;
	}
}
/*Finish of New Product*/

/*Contact Form*/
.contact-form {
	background-color: var(--dark-blue);
	padding-bottom: 2rem;
}
.contact-form__title {
	display: block;
	text-align: center;
	font-size: 3rem;
	padding: 4rem 0rem;
	color: var(--orange);
	font-weight: 700;
}
.name,
.surname,
.email,
.message {
	background-color: var(--light-blue);
	border: none;
	border-radius: 20px;
	color: white;
	margin-bottom: 2rem;
	height: 40px;
	padding: 0 1rem;
	font-size: 1.4rem;
	font-weight: 300;
	font-family: "Poppins", sans-serif;
	width: 100%;
	outline: none;
	border: 2px solid var(--dark-blue);
}
.name::placeholder,
.surname::placeholder,
.email::placeholder,
.message::placeholder {
	color: #f6f6f6;
}
.name:focus,
.surname:focus,
.email:focus,
.message:focus {
	border: 2px solid #2d3c5b;
}
.message {
	padding: 1rem;
	resize: none;
	height: 440px;
}
.contact-form__grid-left-side__block-inputs {
	display: flex;
	gap: 2rem;
}
.contact-form__grid-right-side-block {
	display: flex;
	align-items: center;
	margin-bottom: 4rem;
}
.contact-form__grid-right-side-block i {
	color: var(--white);
	font-size: 2.3rem;
}
.contact-form__grid-right-side-block p {
	color: var(--white);
	font-size: 1.6rem;
	margin-left: 2rem;
}
#contact-form__grid-right-side-map {
	width: 100%;
	height: 340px;
}
@media screen and (max-width: 1024px) {
	.contact-form__grid-left-side__block-inputs {
		display: block;
	}
}
@media screen and (min-width: 768px) {
	.contact-form__grid {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: 3rem;
	}
}
@media screen and (max-width: 768px) {
	.contact-form__grid-right-side {
		margin-top: 3rem;
	}
	.contact-form__grid-left-side .cta-button {
		width: 100%;
	}
}
/*Contact Form*/
