:root {
	--white: #f9f9f9;
	--black: #000000;
	--dark-blue: #14213d;
	--darker-blue: #141e33;
	--light-blue: #29354f;
	--orange: #fca311;
	--grey: #e5e5e5;
	--red: #ec102e;
}
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
html {
	font-size: 62.5%;
	font-family: "Poppins", sans-serif;
	scroll-behavior: smooth;
}
img {
	max-width: 100%;
	max-height: 100%;
}
h1,
h2,
p,
i,
span {
	color: var(--dark-blue);
}
i {
	font-size: 2rem;
	cursor: pointer;
}
p {
	line-height: 3rem;
}
a {
	color: var(--white);
	text-decoration: none;
}

/*Navigation Styles*/
.container {
	max-width: 100%;
	margin: 0 auto;
	padding: 0 4rem 0 4rem;
	max-width: 145rem;
}
.navigation-bar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: auto;
	margin: 1rem auto;
}
.navigation-bar__logo h1 {
	font-size: 3rem;
}
.navigation-bar__logo span {
	color: var(--orange);
	font-size: 2rem;
	font-weight: 700;
}
.navigation-bar__search {
	display: flex;
	align-items: center;
	width: 40%;
}
.navigation-bar__input {
	background-color: var(--grey);
	width: 100%;
	height: 3rem;
	border-radius: 2rem;
	display: flex;
	align-items: center;
}
.navigation-bar__input input {
	border: none;
	outline: none;
	background-color: transparent;
	padding-left: 1rem;
	color: var(--dark-blue);
	height: 100%;
	width: 100%;
	font-size: 1.5rem;
}
.fa-search,
.fa-user,
.fa-shopping-cart {
	margin-left: 1rem;
}
::placeholder {
	color: var(--dark-blue);
}
@media screen and (max-width: 768px) {
	.navigation-bar {
		display: flex;
		flex-direction: column;
		margin-bottom: 1.5rem;
	}
	.navigation-bar__search {
		display: flex;
		align-items: center;
		width: 100%;
	}
}

/*Finish of Navigation Styles*/

/*Product*/

.product-container {
	background-color: var(--grey);
}
@media screen and (max-width: 768px) {
	.product-container__grid-left img {
		margin-bottom: 2rem;
	}
}
@media screen and (min-width: 768px) {
	.product-container__grid {
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 3rem;
	}
}
.product-container__grid {
	padding-top: 3rem;
}
.product-container__grid-left img {
	max-width: 100%;
	height: 100%;
	object-fit: cover;
}
.product-title {
	font-size: 3rem;
	font-weight: 700;
	margin-bottom: 2rem;
}
.product-category-container {
	display: flex;
	align-items: center;
	gap: 1rem;
	margin-bottom: 2rem;
}
.product-category-container__category {
	font-size: 1.8rem;
	font-weight: 500;
	opacity: 0.7;
}
.product-category-container__destacado {
	font-size: 1.3rem;
	font-weight: 400;
	padding: 0 1rem 0 1rem;
	color: var(--white);
	background-color: var(--dark-blue);
	border-radius: 20px;
}
.product-stock {
	font-size: 1.8rem;
	font-weight: 400;
	color: #44c64a;
	margin-bottom: 2rem;
}
.product__grid-card__price {
	display: flex;
	gap: 1rem;
	font-weight: 700;
	margin-bottom: 2rem;
}
.product__grid-card__price .new-price {
	font-size: 1.8rem;
}
.product__grid-card__price span {
	color: var(--orange);
}
.product__grid-card__price .old-price {
	font-size: 1.4rem;
	text-decoration-line: line-through;
}
.product__grid-card__flex-buttons {
	display: flex;
	margin-bottom: 2rem;
}
.cta-comprar {
	background-color: var(--orange);
	margin-right: 1rem;
	border: none;
}
.cta-comprar p {
	color: var(--white);
}
.cta-carrito p {
	color: var(--dark-blue);
}
.cta-carrito {
	background-color: transparent;
	border: 2px solid var(--dark-blue);
}
.cta-comprar i,
.cta-carrito i {
	font-size: 1.6rem;
	padding-right: 0.5rem;
	padding-left: 0.5rem;
}
.cta-comprar,
.cta-carrito {
	width: auto;
	padding: 0 2rem 0 2rem;
	height: 35px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 20px;
	font-size: 1.5rem;
	font-weight: 700;
	transition: all 0.3s;
}
.cta-comprar:hover,
.cta-carrito:hover {
	cursor: pointer;
	transform: scale(1.05);
	box-shadow: 0 0 40px -10px rgba(0, 0, 0, 0.25);
	transition: all 0.3s;
}
.product-save-later {
	margin-bottom: 2rem;
	font-size: 1.6rem;
}
.product-save-later-button {
	width: auto;
	padding-right: 1rem;
	height: 35px;
	display: flex;
	align-items: center;
	border-radius: 20px;
	font-size: 1.5rem;
	font-weight: 700;
	color: red;
	border: 2px solid var(--red);
	background-color: transparent;
	transition: all 0.3s;
	margin-bottom: 2rem;
}
.product-save-later-button:hover {
	cursor: pointer;
	transform: scale(1.05);
	box-shadow: 0 0 40px -10px rgba(0, 0, 0, 0.25);
	transition: all 0.3s;
}
.product-save-later-button p {
	color: var(--red);
}
.product-save-later-button i {
	padding: 0 1rem;
	color: var(--red);
}
.product-description h2 {
	font-size: 2.5rem;
	font-weight: 700;
	margin-bottom: 2rem;
}
.product-description p {
	font-size: 1.6rem;
	font-weight: 300;
	opacity: 0.7;
	text-align: justify;
	line-height: 33px;
}
.similar-products-title {
	margin: 3rem 0;
	font-size: 3rem;
	font-weight: 700;
}

.similar-products-title::after {
	content: "";
	display: block;
	border-bottom: 1px solid var(--white);
	width: 100%;
}
.similar-products-grid {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
	grid-auto-rows: 250px;
	gap: 2rem;
}
.similar-products-grid img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	cursor: pointer;
}
.comentaries-product-title {
	margin: 3rem 0;
	font-size: 3rem;
	font-weight: 700;
}
.comentaries-product-title::after {
	content: "";
	display: block;
	border-bottom: 1px solid var(--white);
	width: 100%;
}

/*Finish of Product*/

/*Comentaries*/
.comentaries-product {
	padding-bottom: 1rem;
}
.comentaries-product-container {
	width: 100%;
	height: auto;
	border-radius: 20px;
	background-color: var(--white);
	padding: 1.5rem;
	margin-bottom: 1.5rem;
}
.comentaries-product-container-flex {
	display: flex;
	align-items: center;
}
.comentaries-product-container-username p {
	font-size: 1.8rem;
	font-weight: 700;
}
.comentaries-product-container-stars i {
	color: var(--orange);
	font-size: 1.6rem;
	cursor: text;
}
.comentaries-product-container-text p {
	font-size: 1.4rem;
	line-height: 20px;
	font-weight: 300;
}
@media screen and (min-width: 769px) {
	.comentaries-product-container-stars {
		margin-left: 1rem;
	}
}
@media screen and (max-width: 768px) {
	.comentaries-product-container-user-img {
		display: none;
	}
	.comentaries-product-container-flex {
		display: flex;
		align-items: flex-start;
		flex-direction: column;
	}
	.comentaries-product-container-stars i {
		padding: 0.5rem 0 0.5rem 0;
	}
	.comentaries-product-container {
		padding: 1.7rem;
	}
}
/*Finish of Comentaries*/

/*Contact Form*/
.contact-form {
	background-color: var(--dark-blue);
	padding-bottom: 2rem;
}
.contact-form__title {
	display: block;
	text-align: center;
	font-size: 3rem;
	padding: 3rem 0rem;
	color: var(--orange);
	font-weight: 700;
}
.name,
.surname,
.email,
.message {
	background-color: var(--light-blue);
	border-radius: 20px;
	color: white;
	margin-bottom: 2rem;
	height: 40px;
	padding: 0 1rem;
	font-size: 1.4rem;
	font-weight: 300;
	font-family: "Poppins", sans-serif;
	width: 100%;
	outline: none;
	border: 2px solid var(--dark-blue);
}
.name::placeholder,
.surname::placeholder,
.email::placeholder,
.message::placeholder {
	color: #f6f6f6;
}
.name:focus,
.surname:focus,
.email:focus,
.message:focus {
	border: 2px solid #2d3c5b;
}
.message {
	padding: 1rem;
	resize: none;
	height: 440px;
}
.contact-form__grid-left-side__block-inputs {
	display: flex;
	gap: 2rem;
}
.cta-button {
	border: none;
	background-color: var(--orange);
	width: 200px;
	height: 40px;
	border-radius: 20px;
	font-size: 1.5rem;
	font-weight: 700;
	color: var(--white);
	cursor: pointer;
	transition: all 0.3s;
}
.contact-form__grid-right-side-block {
	display: flex;
	align-items: center;
	margin-bottom: 4rem;
}
.contact-form__grid-right-side-block i {
	color: var(--white);
	font-size: 2.3rem;
}
.contact-form__grid-right-side-block p {
	color: var(--white);
	font-size: 1.6rem;
	margin-left: 2rem;
}
#contact-form__grid-right-side-map {
	width: 100%;
	height: 340px;
}
@media screen and (max-width: 1024px) {
	.contact-form__grid-left-side__block-inputs {
		display: block;
	}
}
@media screen and (min-width: 768px) {
	.contact-form__grid {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: 3rem;
	}
}
@media screen and (max-width: 768px) {
	.contact-form__grid-right-side {
		margin-top: 3rem;
	}
	.contact-form__grid-left-side .cta-button {
		width: 100%;
	}
}
/*Contact Form*/
